In [1]:
from astropy.table import Table, Column
import numpy as np

In [ ]:
t = Table()
t['a'] = [1, 4]
t['b'] = Column([2.0, 5.0], unit='cm', description='Velocity')
t['c'] = ['x', 'y']

t = Table(names=('a', 'b', 'c'), dtype=('f4', 'i4', 'S2'))
t.add_row((1, 2.0, 'x'))
t.add_row((4, 5.0, 'y'))

t = Table(dtype=[('a', 'f4'), ('b', 'i4'), ('c', 'S2')])

In [ ]:
print(t)

In [2]:
a = [12 , 24 , 36]
b = ['hello' , 'there' , 'yeet']
c = [3 , 'six' , 9]

t = Table([a, b, c], names=('a', 'b', 'c'))
t

<Table length=3>
  a     b     c
int64  str5 str21
----- ----- -----
   12 hello     3
   24 there   six
   36  yeet     9

In [3]:
data_rows = [(1, 2.0, 'x'),
             (4, 5.0, 'y'),
             (5, 8.2, 'z')]
t = Table(rows=data_rows, names=('a', 'b', 'c'))
print(t)

 a   b   c
--- --- ---
  1 2.0   x
  4 5.0   y
  5 8.2   z